<br>
<div class="row">
  <div class="col-md-2"></div>
    <div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Hire Employees</h5>
      <img class="center" src="https://cdn2.iconfinder.com/data/icons/business-and-finance-outline-20/64/business-and-finance-outline-20-12-512.png" style="width:100px">
      <br>
      <a href="#" routerLink="/add-job" class="btn btn-primary center" style="background-color: #3F51BF;">Hire Now</a>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">I am a candidate</h5>
      <img class="center" src="https://static.thenounproject.com/png/2714905-200.png" style="width:100px">
      <br>
      <a href="#" routerLink="/view-jobs" class="btn btn-primary center" style="background-color: #3F51BF;">Find Job</a>
    </div>
  </div>
  </div>
</div>
<br>
<br>
<hr>
<br>
<h2>How it works</h2>
<br>
<div class="row">
  <div class="col-md-3">
    <img src="../../../assets/images/1.jpg">
  </div>
  <div class="col-md-3">
    <img src="../../../assets/images/2.jpg">
  </div>
  <div class="col-md-3">
    <img src="../../../assets/images/3.jpg">
  </div>
  <div class="col-md-3">
    <img src="../../../assets/images/4.jpg">
  </div>
</div>
<hr>
<br>
<h2 class="center">View Jobs by Categories</h2>
<br>
<div class="row">
<div class="col-md-3">
    <div class="card" a routerLink="/view-jobs">
        <img src="https://cdn4.iconfinder.com/data/icons/business-set-4-9/128/b-80-512.png" class="card-img-top center" alt="..." style="height: 70px;width: 70px;padding: 5%;">
        <div class="card-body">
          <p class="card-text center"> Receptionist </p>
        </div>
      </div>
</div>

<div class="col-md-3">
    <div class="card">
        <img src="../../../assets/images/headset.png" class="card-img-top center" alt="..." style="height: 70px;width: 70px;padding: 5%;">
        <div class="card-body">
          <p class="card-text center"> Call Center </p>
        </div>
      </div>
</div>

<div class="col-md-3">
    <div class="card">
        <img src="../../../assets/images/typewriter.png" class="card-img-top center" alt="..." style="height: 70px;width: 80px;padding: 2%;">
        <div class="card-body">
          <p class="card-text center"> Typewriter </p>
        </div>
      </div>
</div>

<div class="col-md-3">
    <div class="card">
        <img src="../../../assets/images/shop-assistant.png" class="card-img-top center" alt="..." style="height: 70px;width: 70px;padding: 2%;">
        <div class="card-body">
          <p class="card-text center"> Sales </p>
        </div>
      </div>
</div>

</div>

<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://cdn0.iconfinder.com/data/icons/accounting-1-2/66/44-512.png" class="card-img-top center" alt="..." style="height: 70px;width: 70px;padding: 5%;">
            <div class="card-body">
              <p class="card-text center"> Data Entry </p>
            </div>
          </div>
    </div>
    
    <div class="col-md-3">
        <div class="card">
            <img src="https://cdn4.iconfinder.com/data/icons/party-drawn/32/basket_copy-256.png" class="card-img-top center" alt="..." style="height: 70px;width: 70px;padding: 5%;">
            <div class="card-body">
              <p class="card-text center"> Handicraft </p>
            </div>
          </div>
    </div>
    
    <div class="col-md-3">
        <div class="card">
            <img src="../../../assets/images/assistant.png" class="card-img-top center" alt="..." style="height: 50px;width: 60px;padding-top: 2%;">
            <div class="card-body">
              <p class="card-text center"> Personal Assistant </p>
            </div>
          </div>
    </div>
    
    <div class="col-md-3">
        <div class="card">
          
            <img src="../../../assets/images/chef.png" class="card-img-top center" alt="..." style="height: 70px;width: 70px;padding: 5%;">
            <div class="card-body">
              <p class="card-text center"> Cook </p>
            </div>
          </div>
    </div>
    
    </div>
    

